<a href="https://colab.research.google.com/github/ZydrexS/Sortijas/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Indentation

In [1]:
if 5>2:
  print("Five is greater than two!") #this code shows a string of words

Five is greater than two!

#Python Variable

In [4]:
x = 1
a, b = 0,-1
a, b, c = 0,-1,2

print (a)
print (b)
print (c)

0
-1
2

#Casting

In [5]:
b ="sally" #this is a type of string
b=int(4)
print(b)

4

In [6]:
b=float(4)
print(b)

4.0

#Type () Function

In [7]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

#Double quotes or Single quotes

In [8]:
y="John"
x='John'
print(x)
print(y)

John
John

#Case Sensitive

In [9]:
a=4
A="Sally" #A will not overwrite a
print (a)
print(A)

4
Sally

#Multiple Variables

In [10]:
x, y, z="one","two","three"
print(x)
print(y)
print(z)

one
two
three

#One Value to Multiple Variable

In [11]:
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

#Output Variables

In [14]:
x="enjoying"
print("python programming is "+x)

python programming is enjoying

In [15]:
x="Python is "
y="enjoying"
z = x + y
print(z)

Python is enjoying

#Arithmetic Operations

In [16]:
x=5
y = 3
print (x + y)
x=5
y=3
sum=x+y
sum

8

8

#Assignment Operators

In [17]:
a,b,c=0,-1,6
c%=3
c

0

#Logical Operators

In [20]:
a,b,c=0,-1,6
a>b and c>b
True

True

#Identity Operators

In [21]:
a,b,c=0,-1,5
a is c
False

False